*{
	padding: 0;
	margin: 0;
}
html{
	background-color: #DCEFFE;
}
body {
	margin: 0 auto;
	background-color: #FFFFFF;
}
/*-----------------------------*/
#top{
	width: 100%;
	height: 150px;
}
#content{
	width: 100%;
}
#posting{
	width: 100%;
	margin: 0;
	padding-top:10px;
	background-color: #F4F4F4;
}
.userinfo_td{
	width: 15%;
	border-right: 1px solid #A9CBEE;
	background-color: #EFF4FB;
}
.content_td{
	width: 85%;
	background-color: #F5F5F5;
}
#t_title{
	border: 1px solid black;
	margin-bottom: 10px;
	height: 25px;
	background-color: #006699;
	padding-top:5px;
	color: #fff;
}
.post_topic{
	height: 200px;
	border: 1px solid #A9CBEE;
	margin-bottom: 10px;
}
.user_info{
	height: 50%;
	width: 100%;
}
.user_head{
	height: 52%;
	width: 52px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 10px; 
}
.username{
	height: 30%;
	width: 100%;
	text-align: center;
}
.username a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}
.post_body{
	height: 100%;
	width: 95%;
	padding-top:5px;
	padding-left:5px;
}
.p_date{
	height: 100%;
	width: 30%;
	float: left;
	text-align: center;
	font-size: 12px;
	padding-top: 7px;
}
.p_button{
	height: 100%;
	width: 20%;
	text-align: right;
	font-size: 12px;
	float:right;
	margin-right:50px;
}
.p_button a{
	text-decoration: none;
	font-size: 12px;
	color: black;
	margin-right: 5px;
	
}
.p_button a:HOVER{
	color: blue;
}
.p_button img{
	height: 15px;
	height: 15px;
	margin-top: 5px;
}
#p_content{
	margin-left: 20px;
}
#p_button{
	width: 60px;
	height: 80px;
	margin-top: 20px;
	margin-left:25px;
}
#p_button a{
	text-decoration: none;
	display:block;
	height: 25px;
	width: 50px;
	padding-top:5px;
	text-align:center;
	margin:0 auto;
	background-color:rgb(62, 137, 250);
	border-color:#2b71d9;
	font-size: 12px;
	color: #fff;
}
