<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->

<mapper namespace="cn.edu.chenggong.dao.UsersMapper">
	 <!-- 添加用户 -->
    <insert id="addUserInfo" parameterType="Users">
    	insert into users (usersName, usersPwd, sex, age, tellphoneNum, usersState,emilName) VALUES (#{usersName}, #{usersPwd}, #{sex}, #{age}, #{tellphoneNum},1,#{emilName});
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
                SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <!-- 添加管理员 -->
    <insert id="addAdminInfo" parameterType="Users">
    	insert into users (usersName, usersPwd, sex, age, tellphoneNum, usersState,emilName) VALUES (#{usersName}, #{usersPwd}, #{sex}, #{age}, #{tellphoneNum},0,#{emilName});
    </insert>
          <!-- 给用户信息插入邮箱验证码 -->
    <update id="insertMailcode" parameterType="Users">
      update Users set emilCode=#{emilCode} where id=#{id}
    </update>
    <!--    修改用户密码 -->
    <update id="userUpdatePwd" parameterType="Users">
      update Users set usersPwd=#{usersPwd} where id=#{id}
    </update>
    <!-- 用户登录验证 -->
    <select id="findUsers" parameterType="Users" resultType="Users">
        select * from users where id=#{id} and usersPwd=#{usersPwd}
    </select>
    <!-- 通过id查找用户 -->
    <select id="findUsersInfoById" parameterType="Users" resultType="Users">
        select * from users where id=#{id}
    </select>
    <!-- 查找所有用户 -->
    <select id="getTheUsesInfo"  resultType="Users">
        select * from users 
    </select>
    <!-- 添加用户 -->
    <select id="findUsersInfoByUsersName"  parameterType="Users" resultType="Users">
        select * from users where usersName=#{usersName}
    </select>
    <!-- 通过id删除用户 -->
    <delete id="delectUsersInfo">
      delete from Users where id=#{id}
    </delete>
    <!-- 用户编辑 -->
    <update id="updateUsersInfo">
      update Users set usersName=#{usersName},usersPwd=#{usersPwd},sex=#{sex},age=#{age} where id=#{id}
    </update>
</mapper>


