<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->

<mapper namespace="cn.edu.chenggong.dao.CourseMapper">
	<!-- 添加课程-->
    <insert id="addCourse" parameterType="Course">
    	insert into course(courseTitle,imagePath,courseIntroduction,classHour,teacherName,teacherIntroduction,classify,gmt_creat) 
    			values (#{courseTitle},#{imagePath},#{courseIntroduction},#{classHour},#{teacherName},#{teacherIntroduction},#{classify},NOW());
    </insert>
   	<!-- 查询所有课程 -->  
   	<select id="findCourseAllByClassify" parameterType="Course" resultType="Course">
         select * from course where classify=#{classify}
         <choose>
        	<when test="classHour !=null and classHour != ''">
            	and CAST(id AS CHAR(12)) not in (${classHour});
        	</when>
    	</choose>
    </select>
    <!-- 通过Id删除课程 -->
    <delete id="deleteCourse" parameterType="Course">
      delete from course where id=#{id}
    </delete>
    <!-- 通过ID查询课程 -->
    <select id="findCourseById" parameterType="Course" resultType="Course">
       select * from course where id=#{id}
    </select>
    <!-- 通过ID修改课程 -->
    <update id="updateCourse" parameterType="Course">
       update  course set courseTitle=#{courseTitle},courseIntroduction=#{courseIntroduction},classHour=#{classHour},teacherName=#{teacherName},teacherIntroduction=#{teacherIntroduction},classify=#{classify},gmt_modifed=NOW() where id=#{id}
    </update>
    <!-- 通过课程名查询课程 -->
    <select id="findCourseByName" parameterType="Course" resultType="Course">
      select * from course where courseTitle like '%${courseTitle}%'
    </select>
    <!-- 查询课程是否存在   -->
    <select id="insertCourse" parameterType="Course" resultType="Course">
      select * from course where courseTitle = #{courseTitle}
    </select>
</mapper>


